.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  input {
    width: 100%;
		padding: 1rem 0;
  }
  p {
    font-size: 1.1rem;
    font-family: "Lora", serif;
    font-weight: bold;
    opacity: 0.85;
    padding: 1rem;
  }
}

.play-control {
	width: 30%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	svg {
		color:#181717;
		cursor: pointer;
	}
}
